<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
  </head>
  <body>
    
<nav>
    <a href="/">Home</a>
    <a href="/images">Images</a>
    <% if(user){ %>
    <a href="/tags/new">Tags</a>
    <a href="/users/<%=user._id%>">Profile</a>
    <a id="log-out" href="/logout">Log Out</a>
    <% } %>
    <% if(!user){ %>
    <a class="login" href="/auth/google">Log In</a>
    <% } %>
</nav>