<%- include('./partials/header') %>

<main>
  <!--Landing page, allowing the user to either view images or log in to access the additional features-->
  <h1><%= title %> Photos</h1>
  <div id="main-page-container">
    <form action="/images">
      <button class="image-button" id="main-image-button"
      style="background-image: url('https://images.pexels.com/photos/1229846/pexels-photo-1229846.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
        <p>Images</p>
      </button>
    </form>
    <form action="/auth/google" class="login">
      <button class="image-button" id="main-image-button"
      style="background-image: url('https://images.pexels.com/photos/5409751/pexels-photo-5409751.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
        <p>Log In</p>
      </button>
    </form>
  </div>
</main>

<%- include('./partials/footer') %>